/* import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1.900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000; 1.200..1000&família=Roboto:ital,wght@0.100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1.900&família=Rubik:ital,wght@0,300..900; 1.300.900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* import */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto", sans-serif ;
}

body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

    /* header cima */
header .headercima{
    background-color: black;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.295);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .headercima img{
    height: 180px;
    width: 180px;
}
    /* header cima */


    /* PROMOÇAO */
.animation-container {
    height: 20px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.promo-text {
    position: absolute;
    white-space: nowrap;
    animation: animateText 25s linear infinite;
}

.promo-text p{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: rgb(54, 54, 54);
    font-weight: 700;
}

@keyframes animateText {
    0% {
      transform: translateX(310%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
    /* PROMOÇAO */

main .box{
    padding: 30px 50px;
}

main .box-informacoes{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main .box-informacoes .outras-fotos{
    padding-right: 70px;
}

.carrosel-fotos{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.carrosel-fotos li{
    list-style-type: none;
}

.carrosel-fotos .fts img{
    height: 130px;
    width: 130px;
}

.foto-principal{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-principal img{
    height: 450px;
    width: 450px;
}

.informacoes{
    height: 400px;
    width: 500px;
    padding-left: 50px;
}

.informacoes #nome-produto{

    font-size: 28px;
    color: black;

    padding-bottom: 30px;

}

.informacoes h2{

    font-size: 17px;
    color: rgb(172, 172, 172);
    padding-bottom: 10px;
    

}

.informacoes #cor{
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
}

.tamanhos #p-tamanhos{
    font-size: 15px;
    color: black;
}

.tamanhos .tm-box{
    display: flex;
    gap: 40px;
    padding: 10px 0 20px 0;
}

.tamanhos .tm-box .tms{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.tms.selecionado{
    background-color: black;
    color: white;
}

.informacoes #valor-produto{
    color: black;
    font-size: 30px;
    padding-bottom: 20px;
}

.informacoes .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.informacoes .btns .buttons{
    background-color: blue;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;

    height: 40px;
    width: 250px;

}

.informacoes .btns .buttons:hover{
    background-color: rgb(37, 37, 255);
}



.outras-fotos {
    position: relative;
}

.carousel-controls {
    display: none; /* Esconde os botões de navegação por padrão */
    justify-content: space-between;
    width: 564px;
    position: absolute;
    top: 220px;
    left: -248px;
}

.carousel-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

}

@media screen and (max-width: 500px) {

    main .box{
        padding: 0px 50px;
    }
    

    .box-informacoes {
        flex-direction: column;
        
        
    }

    .foto-principal{
        height: 450px;
        width: 450px;
    }

    .foto-principal img{
        height: 400px;
        width: 400px;
    }

    .carrosel-fotos .fts img{
        height: 50px;
        width: 50px;
    }

    .carousel-controls{
        width: 350px;
        top: 248px;
        left: -140px;
    }

    .informacoes {
        height: 400px;
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

}

@media screen and (max-width: 1120px) {
    .box-informacoes {
        flex-direction: column;
    }

    .carrosel-fotos {
        display: none; /* Esconde o carrossel de imagens na visualização em coluna */
    }

    .carousel-controls {
        display: flex;
        justify-content: space-between; /* Exibe os botões de navegação na visualização em coluna */
    }
}


